#代理服务器ip
management.host=127.0.0.1
#需和server.config的management.port相同，没有特殊要求不用配置
management.port=8888
#server会进行token鉴权
management.secret=e41*%b$XkcdU
#代理服务器ip
data.host=127.0.0.1
#需和server.config的data.port相同，没有特殊要求不用配置
data.port=8889
reqId.length=36
#需要在代理服务器监听的端口和转发的服务。代理服务器监听端口:转发服务ip:转发服务端口
proxy=30000:127.0.0.1:8080,30001:127.0.0.1:3306